:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

hr {
  border-color: #888;
  width: 70%;
}

/* TODO: use tailwind to clean up all the inline styles */

:root {
  --grid-width: 300px;
  --grid-collapse-width: 600px;
  --header-height: 3rem;
}

/**
 * Leaflet map styles
 */

/* https://dev.to/deepakdevanand/leaflet-map-dark-theme-5ej0 */
.leaflet-container {
  background-color: #000;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

/* rider icon */
.rider-icon {
  height: 100px;
  top: -35px;
  left: -15px;
}

/* fault icons */
.fault-icon {
  background-color: magenta;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fault-icon.svg {
  background-color: transparent;
  border: none;
}
/* NOTE: safari won't show SVGs unless they have an explicit width/height set */
.fault-icon svg {
  width: 12px;
  height: 12px;
}
.fault-icon.warning svg {
  fill: white;
}
.fault-icon.stop_half {
  background-color: grey;
}
.fault-icon.stop_full svg {
  fill: #ff0000;
}
.fault-icon.stop_angle svg {
  fill: #daa520;
}
.fault-icon.wheelslip svg {
  fill: #fff309;
}
.fault-icon.custom__one_footpad_at_speed svg {
  fill: cyan;
}
.fault-icon.custom__no_footpads_at_speed svg {
  fill: maroon;
}
.fault-icon.startup {
  background-color: green;
}
