@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-slate-600;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grid-width: 320px; /* NOTE: must be 1/2 of "wide" screen in tailwind */
  --header-height: 3rem;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

hr {
  border-color: #888;
  width: 70%;
}

/**
 * Leaflet map styles
 */

/* https://dev.to/deepakdevanand/leaflet-map-dark-theme-5ej0 */
.leaflet-container {
  background-color: #000;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-attribution-flag {
  filter: invert(100%) hue-rotate(180deg);
}

/* rider icon */
.rider-icon {
  height: 100px;
  top: -35px;
  left: -15px;
}

.opaque {
  opacity: 0.2;
}

/* state icons */
.state-icon {
  background-color: magenta;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.state-icon.svg {
  background-color: transparent;
  border: none;
}
/* NOTE: safari won't show SVGs unless they have an explicit width/height set */
.state-icon svg {
  width: 1rem;
  height: 1rem;
}
.state-icon.warning svg {
  fill: white;
}
.state-icon.stop_half {
  background-color: grey;
}
.state-icon.stop_full svg {
  fill: #dc2626;
}
.state-icon.stop_angle svg {
  fill: #f97316;
}
.state-icon.wheelslip svg {
  fill: #eab308;
}
.state-icon.custom__one_footpad_at_speed svg .left {
  fill: #0ea5e9;
}
.state-icon.custom__one_footpad_at_speed svg .right {
  fill: #991b1b;
}
.state-icon.custom__no_footpads_at_speed svg {
  fill: #991b1b;
}
.state-icon.custom__charge_point svg {
  fill: yellow;
  stroke: black;
  stroke-width: 5px;
}
.state-icon.quickstop {
  background-color: #2dd4bf;
}
.state-icon.startup {
  background-color: green;
}
